.modal-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-container {
  min-width: 350px;
  min-height: 350px;
  max-width: 350px;
  max-width: 350px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 25px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border: none;
  font-weight: bold;
  font-size: 20px;
}
